<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/scanningList.css' %}">
    
        
</head>
<body>
    <h2>{{lists.computerName}}</h2>
    
    <h3>Scanning History</h3>
    <table>
        <thead>
            <tr>
                <th>Scan Sequence</th>
                <th>Scanning Start Time</th>
                <th>Scanning End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for scanning_list in scanning_lists %}
                <tr>
                    <td>
                        <a href="/computer/{{ lists.computerName }}/{{ scanning_list.scan_sequence }}">{{ scanning_list.scan_sequence }}</a>
                    </td>
                    <td>
                        {{ scanning_list.scanning_start_time }}
                    </td>
                    <td>
                        {{ scanning_list.scanning_end_time }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>