<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/computerList.css' %}">
</head>
<body>
        <h3>Scanning Detail</h3>
        <table>
            <thead>
                <tr>
                    <th>scanning history id</th>
                    <th>File Name</th>
                </tr>
            </thead>
            <tbody>
                {% for scanning_history in scanning_histories %}
                    <tr>
                        <td>
                            {{scanning_history.scanning_history_id}}
                        </td>
                        <td>
                            <a href="/file/{{ lists.computerName }}/{{ scanning_history.fileName }}">{{ scanning_history.fileName }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
</body>
</html>