
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/computerList.css' %}">
    <style>
        .computerList{
            background-color: #fff;
            color: black;
        }
    </style>
</head>
<body>
    <h2 class="computerList">Scanner Check List</h2>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Computer Name</th>
                <th>Computer IP</th>
                <th>Computer Mac-address</th>
                <th>OS</th>
                <th>Memory Capacity</th>
                <th>Processor Name</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
                <tr>
                    <td>
                        <a href="/computer/{{ list.computerName }}">{{ list.computerName }}</a>
                    </td>
                    <td>
                        {{ list.computerIp}}
                    </td>
                    <td>
                        {{ list.macAddr}}
                    </td>
                    <td>
                        {{ list.os }}
                    </td>
                    <td>
                        {{ list.memoryCapacity}}
                    </td>
                    <td>
                        {{ list.processorName}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <hr>
</body>
</html>